<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="Title" value="AM Frukt Affär"/>
		<add key="Height" value="600" />
		<add key="Width" value="1310"/>
		
		<add key="SavedBasketPath" value="C:/Windows/Temp/SavedBasket.csv"/>
		<add key="BackgroundImagePath" value="pack://application:,,,/Images/Background.jpg"/>
		<add key="ProductsFilePath" value="Data/Produkter.csv"/>
		<add key="DiscountFilePath" value="Data/Discount.csv"/>
	</appSettings>
</configuration>